<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.chezhibao.service"/>
	<!--logback初始化加载-->
	<bean class="com.chezhibao.initializer.LogBackInitializer" init-method="init">
		<property name="linuxConfPath" value="${linux.logback.path}"/>
		<property name="logbackName" value="${logback.file.name}"/>
	</bean>
</beans>