<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds" debug="false">

	<property name="LOG_HOME" value="/logs/crm" />

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{30}> %msg%n</pattern>
		</layout>
	</appender>

	<!-- Dragon -->
	<appender name="Dragon"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}-dragon.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{30}> %msg%n</pattern>
		</layout>
	</appender>

	<!-- ################################################### 我是分割线 ################################################### -->

	<!-- Dragon -->
	<logger name="com.chezhibao" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="Dragon"/>
	</logger>

	<!-- 日志级别 OFF、FATAL、ERROR、WARN、INFO、DEBUG、ALL。Log4j建议只使用四个级别，优先级从高到低分别是ERROR、WARN、INFO、DEBUG。通过在这里定义的级别，可以控制到应用程序中相应级别的日志信息的开关。 -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
