<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	   http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- 配置扫描路径 -->
	<context:property-placeholder location="classpath:config.properties"/>
	<!--logback初始化加载-->
	<bean class="com.chezhibao.initializer.LogBackInitializer">
		<property name="linuxConfPath" value="${linux.logback.path}"/>
		<property name="logbackName" value="${logback.file.name}"/>
	</bean>
</beans>